{# DealField list view — within CRM Settings layout #}
{% set isIndex = 'index' == tmpl ? true : false %}
{% set tmpl = 'list' %}
{% extends isIndex ? '@MauticCore/Default/content.html.twig' : '@MauticCore/Default/raw_output.html.twig' %}

{% block mauticContent %}mautomic_crm_deal_field{% endblock %}

{% block headerTitle %}{{ 'mautomic_crm.settings'|trans }}{% endblock %}

{% block content %}
  {% if isIndex %}
    <div class="row">
        <div class="col-md-3 height-auto">
            {{ include('@MautomicCrm/Settings/_sidebar.html.twig', {'activeTab': 'deal-fields'}) }}
        </div>
        <div class="col-md-9 height-auto">
            <div id="page-list-wrapper" class="{% if items|length > 0 or searchValue is not empty %}panel {% endif %}panel-default">
                {{ include('@MauticCore/Helper/list_toolbar.html.twig', {
                    'searchValue': searchValue,
                    'action': currentRoute,
                    'page_actions': {
                        'templateButtons': {
                            'new': permissions['mautomic_crm:deals:create'],
                        },
                        'routeBase': 'mautic_mautomic_crm_deal_field',
                    },
                }) }}
                <div class="page-list">
                    {{ include('@MautomicCrm/DealField/_list.html.twig') }}
                </div>
            </div>
        </div>
    </div>
  {% else %}
    {{ include('@MautomicCrm/DealField/_list.html.twig') }}
  {% endif %}
{% endblock %}
