{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent %}mautomic_crm_task{% endblock %}

{% block headerTitle %}{{ item.title }}{% endblock %}

{% block preHeader %}
    {{- include('@MauticCore/Helper/page_actions.html.twig', {
        'item': item,
        'templateButtons': {
            'close': securityIsGranted('mautomic_crm:tasks:view'),
        },
        'routeBase': 'mautomic_crm_task',
        'targetLabel': 'mautomic_crm.task.list'|trans,
    }) -}}
{% endblock %}

{% block actions %}
    {{- include('@MauticCore/Helper/page_actions.html.twig', {
        'item': item,
        'templateButtons': {
            'edit': securityHasEntityAccess(permissions['mautomic_crm:tasks:editown'], permissions['mautomic_crm:tasks:editother'], item.createdBy),
            'delete': securityHasEntityAccess(permissions['mautomic_crm:tasks:deleteown'], permissions['mautomic_crm:tasks:deleteother'], item.createdBy),
        },
        'routeBase': 'mautic_mautomic_crm_task',
        'langVar': 'mautomic_crm.task',
    }) -}}
{% endblock %}

{% block content %}
  <div class="box-layout">
      <div class="col-md-9 height-auto pa-md">
          <table class="table table-hover mb-0">
              <tbody>
              {{ include('@MauticCore/Helper/details.html.twig', {'entity': item}) }}
              <tr>
                  <td width="20%"><span class="fw-b">{{ 'mautomic_crm.task.due_date'|trans }}</span></td>
                  <td>{% if item.dueDate %}{{ item.dueDate|date('Y-m-d H:i') }}{% else %}-{% endif %}</td>
              </tr>
              <tr>
                  <td><span class="fw-b">{{ 'mautomic_crm.task.priority'|trans }}</span></td>
                  <td>{{ ('mautomic_crm.task.priority.' ~ item.priority)|trans }}</td>
              </tr>
              <tr>
                  <td><span class="fw-b">{{ 'mautomic_crm.task.status'|trans }}</span></td>
                  <td>{{ ('mautomic_crm.task.status.' ~ item.status)|trans }}</td>
              </tr>
              <tr>
                  <td><span class="fw-b">{{ 'mautomic_crm.task.owner'|trans }}</span></td>
                  <td>{% if item.owner %}{{ item.owner.name }}{% else %}-{% endif %}</td>
              </tr>
              </tbody>
          </table>
      </div>

      <div class="col-md-3 bdr-l height-auto">
          <div class="panel shd-none bdr-rds-0 bdr-w-0 mb-0">
              {{ include('@MauticCore/Helper/recentactivity.html.twig', {'logs': logs}) }}
          </div>
      </div>
  </div>
{% endblock %}
